@import 'main.scss';

html, body {
    height: 100%;
    text-align: center;
    background: #EDEEF0;
}

h1 {
    font-size: 4em
}

@media screen and (max-width: 400px) {
    img {
        max-width: 100%
    }
}
